html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
header,
nav,
main,
section,
blockquote,
figcaption,
footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}