@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');


$codystar: 'Codystar', cursive;
$bungee: 'Bungee Outline', cursive;
$bungee-hairline: 'Bungee Hairline', cursive;


/* 
https://fonts.google.com/specimen/Codystar?preview.text=MemoChromatic&preview.text_type=custom&category=Display

https://fonts.google.com/specimen/Phudu?preview.text=memochromatic&preview.text_type=custom&category=Display

https://fonts.google.com/specimen/Poiret+One?preview.text=MemoChromatic%20memochromatic%20MEMOCHROMATIC&preview.text_type=custom&category=Display



*/