@import './sass/_reset';
@import './sass/_typography';
@import './sass/mixins';

// :root {
//     background-color: #3d3d3d;

//     // @media (prefers-color-scheme: dark) {
//     //     background-color: #141415;
//     // }

//     // @media (prefers-color-scheme: light) {
//     //     background-color: #fbfbfb;
//     // }
// }

.App {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.board {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridRow {
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: #e7e7da;
    border: 1px solid #e7e7da;
    border-radius: 11%;
    padding: 0;

    perspective: 300px;
    transition: transform 0.75s;
    transform-style: preserve-3d;
    cursor: pointer;

    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    // @media (prefers-color-scheme: dark) {
    //     background-color: #141415;
    //     border: 1px solid white;
    // }

    // @media (prefers-color-scheme: light) {
    //     background-color: #fbfbfb;
    //     border: 1px solid black;
    // }
}

.front,
.back {
    position: absolute;
    top: -1px;
    right: -1px;
    backface-visibility: hidden;
    border-radius: 11%;
}

.back {
    transform: rotateY(180deg);
}

.disabled {
    cursor: auto;
}

.flip {
    transform: rotateY(180deg);
}

.matched {
    background-color: #FFF;
    border-color: #FFF;
}

.impossible {
    width: 70px;
    height: 70px;
}

.invisible {
    visibility: hidden;
    margin: 11px;
}

.final {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 3px solid transparent;
    border-radius: 5px;
    background: #fbfbfb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $palanquin;

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(92, 92, 92, 0.63);
    }

    * {
        margin-bottom: 15px;
    }

    &__heading {
        font-size: 22px;
    }

    &__playAgain {
        background: #FBFBFB;
        padding: 8px 12px;
        border: 1px solid transparent;
        border-radius: 5px;
        margin-bottom: 0;
        cursor: pointer;
        transition: all 0.5s linear;

        &:hover {
            border-color: #009FB7;
            transition: all 0.5s linear;
        }
    }
}

.header {
    width: 100%;
    padding: 10px 20px;
    font-family: $bungee-hairline;

    display: flex;
    justify-content: space-between;
    position: relative;

    &__options {
        display: flex;
    }

    &__settings {
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__newGame {
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__restart {
        position: absolute;
        top: 20px;
        right: 50px;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__instructions {
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
    }

    &__score {
        font-family: $bungee;
        place-self: center;

        & p {
            text-align: right;
        }
    }
}

.logo {
    &__header {
        padding: 8px;
        font-family: $bungee-hairline;
        font-size: 40px;
        background: linear-gradient(90deg, rgba(247, 3, 3, 1) 0%, rgba(255, 160, 0, 1) 10%, rgba(255, 254, 0, 1) 20%, rgba(6, 252, 7, 1) 30%, rgba(2, 255, 225, 1) 40%, rgba(4, 82, 255, 1) 50%, rgba(34, 3, 255, 1) 60%, rgba(212, 2, 255, 1) 70%, rgba(255, 1, 153, 1) 80%, rgba(255, 1, 98, 1) 90%);
        background-clip: text;
        color: transparent;
        position: relative;
    }

}

.score {
    &__value {
        display: inline-block;
        width: 55px;
        text-align: left;
    }
}

svg {
    width: 25px;
}

.settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    padding: 40px 20px;
    border: 3px solid transparent;
    border-radius: 5px;
    background: #fbfbfb;
    color: #000;

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(92, 92, 92, 0.63);
    }

    fieldset,
    &__header,
    &__note {
        margin-bottom: 15px;
        font-family: $palanquin;
    }

    &__header {
        font-weight: 700;
        text-align: center;
    }

    &__note {
        text-align: center;
        font-weight: 400;
    }

    &__close {
        position: absolute;
        border: none;
        top: 15px;
        right: 12px;
        background: none;
        cursor: pointer;
        transition: all linear 0.3s;

        &:hover svg path {
            fill: #008DA3;
            transition: all linear 0.3s;
        }
    }

    & svg {
        width: 18px;
    }

    legend,
    label,
    h3 {
        font-family: $palanquin;
    }

    &__formRow {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
    }

    &__formDivider {
        height: 2px;
        background-color: rgb(0, 0, 0, 0.4);
    }

    &__formButtonRow {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }

    &__button {
        background: #fbfbfb;
        padding: 8px 12px;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s linear;

        &:hover {
            border-color: #009FB7;
            transition: all 0.5s linear;
        }

        &:active {
            outline: none;
            box-shadow: inset 0px 0px 5px #008DA3;
        }
    }
}


fieldset {
    margin-bottom: 10px;
}

legend {
    text-align: center;
}

.instructions {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid transparent;
    border-radius: 5px;
    background: #fbfbfb;
    padding: 30px 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(92, 92, 92, 0.63);
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 12px;
        border: none;
        cursor: pointer;
        background: none;
        transition: all linear 0.3s;

        &:hover svg path {
            fill: #008DA3;
            transition: all linear 0.3s;
        }
    }

    &__heading {
        font-family: $palanquin;
        font-weight: 700;
        text-align: center;
    }

    &__section {
        margin-bottom: 15px;
    }

    & svg {
        width: 18px;
    }

    & p {
        font-family: $palanquin;
        font-weight: 400;
    }
}

.example {
    display: flex;
    margin: 5px 0;
}

.sq {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 5px;
}

.range {
    appearance: none;
    width: 200px;
    appearance: none;
    background: transparent;

    &::-webkit-slider-runnable-track {
        @include rangeTrack
    }

    &:focus {
        background: none;
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include rangeThumb;
    }

    &:disabled::-webkit-slider-runnable-track {
        background: #ababab;
    }

    &:disabled::-webkit-slider-thumb {
        background: #EEE;
        border-color: #EEE;
        background: #ababab;
        border-color: #ababab;
    }

    &:active::-webkit-slider-thumb {
        box-shadow: 0 0 0 20px inset #222;
        box-shadow: 0 0 0 20px inset #1E3888;
    }

    &:focus-visible::-webkit-slider-thumb {
        box-shadow: 0 0 0 20px inset #222;
    }

    &__labelWrapper {
        & li:first-child {
            text-align: left;
        }

        & li:nth-child(even) {
            text-align: center;
        }

        & li:last-child {
            text-align: right;
        }
    }

    &__label {
        position: relative;
        float: left;
        width: 33%;
        margin-top: 8px;
    }
}

.colourDropdown {
    width: 200px;
    padding: 4px 8px;
    border: 1px solid #0081A7;
    border: 1px solid #009FB7;
    border-radius: 5px;
    cursor: pointer;

    &:focus {
        border-color: transparent;
        outline: 2px solid #0081A7;
    }

    &:focus-visible {
        border-color: transparent;
        outline: 2px solid #0081A7;
    }

    &__option {
        background: #FFF;

    }
}

.impossibleMode {
    display: flex;
    width: 200px;
    border-radius: 2px;
}

.radioInput {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    height: 30px;

    &__button {
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        padding: 4px 8px;
        border: 1px solid transparent;
        border-radius: 5px;
        margin: 0;
        cursor: pointer;
        transition: all linear 0.2s;

        &:hover {
            border-color: #009FB7;
            transition: all linear 0.2s;
        }

        &:active {
            outline: none;
            box-shadow: inset 0px 0px 5px #008DA3;
        }

        &:checked {
            background: linear-gradient(180deg, #009FB7, #1E3888);
        }

        &:checked:hover {
            border-color: transparent;
        }
    }

    &__label {
        position: absolute;
        width: 24px;
        left: calc(50% - 12px);
        color: #777;

        &-checked {
            @extend .radioInput__label;
            color: #FFF;
        }
    }
}

.footer {
    margin-bottom: 20px;
    font-family: $montserrat
}

/* 
light - #fbfbfb
dark - #141415
neutral - #3d3d3d || #888
neutral border for 3d3d3d is 858585 || 7a7a7a

*/